.no-bullets {
  list-style-type: none; /* Removes the bullets */
  padding-left: 0;       /* Removes the default padding */
}

.popover-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .description-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .save-button,
  .cancel-edit-button,
  .edit-button,
  .add-user-button,
  .close-button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cancel-edit-button,
  .close-button {
    background-color: #dc3545;
  }
  
  ul {
    list-style-type: none; /* Removes bullets from the list */
    padding-left: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  ul li:before {
    content: none; /* Ensures no additional marker content */
  }
  